snippet bimg
<div class="separator" style="clear: both; text-align: center; ">
<a href="${1:img}" imageanchor="1" style="margin-left: 1em; margin-right: 1em;"><img border="0" src="$1" /></a>
<div class="caption">Fonte: ${2:Pixabay}</div>
</div>
endsnippet

snippet abl
<a href="$1" target="_blank">${VISUAL}</a>
endsnippet

